<a href="https://colab.research.google.com/github/Gr1lledChee5e/BTE320FALL/blob/main/BTE320_InClassNOTESAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Surface Area of a Cylinder
pi = 3.14
h = 10 #height
r = 3 #radius
area = 2*pi*r**2 + 2*pi*r*h
print(area)

244.92000000000002

In [ ]:
for i in range (0,11,2):
  print(i, end=' ')

0 2 4 6 8 10

In [ ]:
i = 0
while i < 11:
  print(i, end=' ')
  i = i + 2

0 2 4 6 8 10

Basic Function Calculator

In [ ]:
while True

def calculator():
    print("Welcome to the calculator!")
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")

    choice = input("Enter choic2e (1/2/3/4): ")

    if choice in ['1', '2', '3', '4']:
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(f"{num1} + {num2} = {num1 + num2}")
        elif choice == '2':
            print(f"{num1} - {num2} = {num1 - num2}")
        elif choice == '3':
            print(f"{num1} * {num2} = {num1 * num2}")
        elif choice == '4':
            if num2 != 0:
                print(f"{num1} / {num2} = {num1 / num2}")
            else:
                print("Error! Division by zero.")
    else:
        print("Invalid Input")

calculator()

Welcome to the calculator!
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 1
Enter first number: 2
Enter second number: 2
2.0 + 2.0 = 4.0

In [ ]:
n1 = float(input('enter number:'))
n2 = float(input('enter number:'))
symbol = input('Choose operator (+, -, *, /, **):')

if symbol == '+':
    print(n1 + n2)
elif symbol == '-':
    print(n1 - n2)
elif symbol == '/':
    print(n1 / n2)
elif symbol == '*':
    print(n1 * n2)
else:
    print(n1 ** n2)

enter number:2
enter number:3
Choose operator (+, -, *, /, **):**
8.0

In [ ]:
!pip install ColabTurtlePlus

Requirement already satisfied: ColabTurtlePlus in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [ ]:
from ColabTurtlePlus import *

screen = screen()

screen.clearscreen()

reset = True

if reset:
  Clear()

color('black', 'green')
shape('blank')
begin_fill()
jumpto(0,0)

forward(100)
left(90)
forward(100)
left(90)
forward(100)
left(90)
forward(100)
left(90)

penup()
end_fill()

NameError: name 'screen' is not defined

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

reset = True

if reset:
  clear()

color('black', 'green')
shape('blank')
begin_fill()
jumpto(0,0)


for i in range(4):
  forward(100)
  left(90)


penup()
end_fill()

Range (start, stop, step) for varname in sequence

Start
Start + step
Start + 2*step
start + N*step < Stop

[Start, stop)

Start --> 0
step --> 1
range[ 0,1,2,3] for range(4)

such that, i = 0, i =1, i=2, i=3

In [ ]:
for i in range (0,11, 2):
  print(i, end=' ')

0 2 4 6 8 10

In [ ]:
for i in range (40,5, -10):
  print(i, end=' ')

40 30 20 10

In [ ]:
import random

while True:
    user_action = input("Enter a choice (rock, paper, scissors): ")
    possible_actions = ["rock", "paper", "scissors"]
    computer_action = random.choice(possible_actions)
    print(f"\nYou chose {user_action}, computer chose {computer_action}.\n")

    if user_action == computer_action:
        print(f"Both players selected {user_action}. It's a tie!")
    elif user_action == "rock":
        if computer_action == "scissors":
            print("Rock destorys scissors! You win!")
        else:
            print("Paper covered rock! You lose.")
    elif user_action == "paper":
        if computer_action == "rock":
            print("Paper covered rock! You win!")
        else:
            print("Scissors cuts ze paper! You lose.")
    elif user_action == "scissors":
        if computer_action == "paper":
            print("Scissors cuts ze paper! You win!")
        else:
            print("Rock drops on ze scissors! You lose.")

    play_again = input("Play again? (y/n): ")
    if play_again.lower() != "y":
        break

Enter a choice (rock, paper, scissors): paper

You chose paper, computer chose paper.

Both players selected paper. It's a tie!
Play again? (y/n): y
Enter a choice (rock, paper, scissors): rock

You chose rock, computer chose scissors.

Rock smashes scissors! You win!
Play again? (y/n): y
Enter a choice (rock, paper, scissors): rock

You chose rock, computer chose rock.

Both players selected rock. It's a tie!
Play again? (y/n): y
Enter a choice (rock, paper, scissors): rock

You chose rock, computer chose paper.

Paper covers rock! You lose.
Play again? (y/n): n

Parking Garage

In [ ]:
def calculate_parking_fee(hours):
  Flat_Rate = 5.00
  hourly_rate = 2.50
  minimum_fee = 10.00
  maximum_fee = 20.00

  total_fee = Flat_Rate + hours * hourly_rate

    if total_fee < minimum_fee:
        total_fee = minimum_fee
    elif total_fee > maximum_fee:
        total_fee = maximum_fee


    return total_fee

hours = 1
while hours <= 8:
    print(f"Parking for {hours} hours: ${calculate_parking_fee(hours):.2f}")
    hours += 1

IndentationError: unexpected indent (<ipython-input-11-bc56f81f3d46>, line 9)

In [ ]:
def calculate_parking_fee(hours):
    Flat_Rate = 5.00
    hourly_rate = 2.50
    minimum_fee = 10.00
    maximum_fee = 20.00

    total_fee = Flat_Rate + hours * hourly_rate

    if total_fee < minimum_fee:
        total_fee = minimum_fee
    elif total_fee > maximum_fee:
        total_fee = maximum_fee

    return total_fee

hours = 1
while hours <= 8:
    print(f"Parking for {hours} hours: ${calculate_parking_fee(hours):.2f}")
    hours += 1

Parking for 1 hours: $10.00
Parking for 2 hours: $10.00
Parking for 3 hours: $12.50
Parking for 4 hours: $15.00
Parking for 5 hours: $17.50
Parking for 6 hours: $20.00
Parking for 7 hours: $20.00
Parking for 8 hours: $20.00

In [ ]:
flate_rate = 5
hourly_rate = 2.5

for hour in range (1, 9 ,1):
  charge = flate_rate + hour * hourly_rate
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(hour, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

MOVIE THEATER

In [ ]:
def calculate_profit(theater):
    ticket_price = 10
    base_attendance = 20
    fixed_costs = 200
    additional_attendees = 2 * round(ad_spending)

    total_attendees = base_attendance + additional_attendees

    revenue = total_attendees * ticket_price

    total_costs = fixed_costs + ad_spending

    profit = revenue - total_costs

    return additional_attendees, total_attendees, revenue, total_costs, profit

print(f"{'Ads Spent':>10} | {'Additional Attendees':>20} | {'Total Attendees':>15} | {'Revenue':>10} | {'Total Costs':>12} | {'Profit':>10}")
print("-" * 80)

for ad_spending in range(0, 101, 10):
    additional_attendees, total_attendees, revenue, total_costs, profit = calculate_profit(ad_spending)
    print(f"{ad_spending:>10} | {additional_attendees:>20} | {total_attendees:>15} | {revenue:>10} | {total_costs:>12} | {profit:>10}")

 Ads Spent | Additional Attendees | Total Attendees |    Revenue |  Total Costs |     Profit
--------------------------------------------------------------------------------
         0 |                    0 |              20 |        200 |          200 |          0
        10 |                   20 |              40 |        400 |          210 |        190
        20 |                   40 |              60 |        600 |          220 |        380
        30 |                   60 |              80 |        800 |          230 |        570
        40 |                   80 |             100 |       1000 |          240 |        760
        50 |                  100 |             120 |       1200 |          250 |        950
        60 |                  120 |             140 |       1400 |          260 |       1140
        70 |                  140 |             160 |       1600 |          270 |       1330
        80 |                  160 |             180 |       1800 |          280 |       1520
        90 |                  180 |             200 |       2000 |          290 |       1710
       100 |                  200 |             220 |       2200 |          300 |       1900

In [ ]:
for ad in range (0, 201, 25):
  additional = (2 * ad ** 0.5)
  profit = (20 + (additional)) * 10 - 200 - ad
  print(ad, profit)

0 0.0
25 75.0
50 91.42135623730951
75 98.20508075688781
100 100.0
125 98.60679774997897
150 94.94897427831779
175 89.57513110645903
200 82.84271247461902

In [ ]:
for i in range( 1_000_000_000):
  if i == 10:
    break
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

9/23/24

In [ ]:
len('hello')
# get length/ character count

5

In [ ]:
s= {'a', 'bb', 'ccc'}
len(s)

3

In [ ]:
s= ('this is a string')
len(s)

16

In [ ]:
t = "1234567"
t[0]
#place of charater; ranges from 0 to infitity

'1'

In [ ]:
s[0:4], s[10:16]

('this', 'string')

In [ ]:
t[1:-1]

'23456'

In [ ]:
for idx in range(len(t)):
  print(idx, t[idx])

0 1
1 2
2 3
3 4
4 5
5 6
6 7

In [ ]:
for char in s:
  print(char)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [ ]:
for idx in range(lens(s)):
  if s[idx] == 'a':
    print("letter 'a' found")
    break

NameError: name 'lens' is not defined

9/25/2024

In [ ]:
l = [1,2,3]

another_1 = [1, 3.14, 'abc', True, {456}]
empty_1 = []
len(l), len(another_1), len(empty_1)

(3, 5, 0)

In [ ]:
l[1] = 5
print(l)

[1, 5, 3]

In [ ]:
[1,2,3] + [4]

[1, 2, 3, 4]

In [ ]:
l = [1,2,3]
l.append(4)
l.insert(1,5)
l

[1, 5, 2, 3, 4]

In [ ]:
l2 = [5,6,7]
l.extend([12])
l

[1, 5, 2, 3, 12]

In [ ]:
l.append(l2)
l

[1, 5, 2, 3, 4, 12, [5, 6, 7]]

In [ ]:
l.pop(-1)
l

[1, 5, 2, 3]

In [ ]:
l = ['a','b','c']
l2 = [4,5,6]

l.extend(l2)
l

['a', 'b', 'c', 4, 5, 6]

In [ ]:
l = [1,7,3,0,4,6]
l.sort(reverse=True)
l

In [ ]:
L = []

item = int(input('Give a value:'))
while item != 0:
  L.append(item)
  print(L)
  item = int(input('Give a value:'))
print(L)

Give a value:2
[2]
Give a value:2
[2, 2]
Give a value:2
[2, 2, 2]

KeyboardInterrupt: Interrupted by user

In [ ]:
item = int(input('Give a value:'))
while item != 0:
  L.append(item)
  item = int(input('Give a value:'))
print(L)

Give a value:2
Give a value:2
Give a value:2
Give a value:2
Give a value:2
Give a value:2
Give a value:2
Give a value:0
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [ ]:
L1 = [1,2,3,4]
L2 = [1,2,5,6]

i = 0
j = 1

for i in L1: # if item is in list do some bout it
  if i in L2:
    L1.remove(i)
    L2.remove(i)

for j in L1:
  if j in L2:
    L1.remove(j)
    L2.remove(j)

print(L1)
print(L2)

[3, 4]
[5, 6]

In [ ]:
L1 = [1,2,3,4]
L2 = [1,2,5,6]

for i in L1[:]: # if item is in list do some bout it
  if i in L2:
    L1.remove(i)
    L2.remove(i)

print(L1)
print(L2)

[3, 4]
[5, 6]

In [ ]:
t = (1, 'two', 3.0, [4,5,6], (1,2))

In [ ]:
(1,2,3) + ('one', 'two', 'three')

(1, 2, 3, 'one', 'two', 'three')

In [ ]:
t[1:4]

('two', 3.0, [4, 5, 6])

In [ ]:
grades = {'John': 90, 'Jane': 95, 'Bob': 87, 'Anne': 89}

In [ ]:
grades['John'] = 92
grades

{'John': 92, 'Jane': 95, 'Bob': 87, 'Anne': 89}

In [ ]:
grades ['Bryan'] = 85
grades

{'John': 92, 'Jane': 95, 'Bob': 87, 'Anne': 89, 'Bryan': 85}

In [ ]:
del(grades['Bryan'])
grades

{'John': 92, 'Jane': 95, 'Bob': 87, 'Anne': 89}

In [ ]:
s = ''
l[]
t()
d{}

In [ ]:
d = {
    'example1@yahoo.com': {
      'first_name': 'John',
      'last_name': 'Doe',
      'phone': '555-555-5555',
      'email': 'example@yahoo.com'
},
    'example@yahoo.com': {
      'first_name': 'John',
      'last_name': 'Doe',
      'phone': '555-555-5555',
      'email': 'example@yahoo.com'
    }
}

In [ ]:
months = {}

names = ["Jan", "Feb", 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

In [ ]:
for i in range(len(names)):
  months[names[i]] = numbers[i]

months

{'Jan': 1,
 'Feb': 2,
 'Mar': 3,
 'Apr': 4,
 'May': 5,
 'Jun': 6,
 'Jul': 7,
 'Aug': 8,
 'Sep': 9,
 'Oct': 10,
 'Nov': 11,
 'Dec': 12}

In [ ]:
for i in range(len(names)):
  months[i+1] = names[i]

months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

10/2/2024

In [ ]:
for value in months.values():
  print(value)

NameError: name 'months' is not defined

In [ ]:
months = {} # Initialize the months dictionary

names = ["Jan", "Feb", 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(names)):
  months[i+1] = names[i] # Populate the months dictionary

for value in months.values(): # Iterate through the dictionary values and print them
  print(value)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [ ]:
for key, value in months.items():
  print(key, value)

1 Jan
2 Feb
3 Mar
4 Apr
5 May
6 Jun
7 Jul
8 Aug
9 Sep
10 Oct
11 Nov
12 Dec

In [ ]:
d = {
    'example1@yahoo.com': {
      'first_name': 'John',
      'last_name': 'Doe',
      'phone': '555-555-5555',
},
    'example@yahoo.com': {
      'first_name': 'John',
      'last_name': 'Doe',
      'phone': '555-555-5555',
    }
}

In [ ]:
for key in d.keys():
  print(key, d[key]['phone'])

example1@yahoo.com 555-555-5555
example@yahoo.com 555-555-5555

10/21/24

In [ ]:
def inputs ():
  annual_salary = float(input("Enter your annual salary: "))
  portion_saved = float(input("Enter portion: "))
  total_cost = float(input("Enter the cost: "))

  return annual_salary, portion_saved, total_cost

In [ ]:
annual_salary, portion_saved, total_cost = inputs()

months = 0
amount = 0

Enter your annual salary: 133
Enter the percent of your salary to save, as a decimal: 46
Enter the cost of your dream home: 10000000

In [ ]:
def name(first, last, reverse=False):
  if reverse == True:
    print(last,',' ,first)
  else:
    print(first, last)

name('John', 'Doe', True)

Doe , John

In [ ]:
flate_rate = 5
hourly_rate = 2.5

for hour in range (1, 9 ,1):
  charge = flate_rate + hour * hourly_rate
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(hour, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
def calcFee(hours):
    flat_rate = 5
    hourly_rate = 2.5
    max_fee = 50

    hours = int(hours) if hours == int(hours) else int(hours) + 1

    if hours <= 1:
        total_fee = flat_rate
    else:
        total_fee = flat_rate + (hours - 1) * hourly_rate

    if total_fee > max_fee:
        total_fee = max_fee

    return total_fee

hours_parked = input()
print(f"Parking fee for {hours_parked} hours: ${calcFee(hours_parked)}")

6
Parking fee for 6 hours: $20.0

In [ ]:
def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

hours_parked = int(input('Enter hours for Parking:'))
f = calcFee(hours_parked)
print(f)

Enter hours for Parking:2
10.0

In [ ]:
def calcFee(hours, decimals = 2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)

  return fee

def displayFee(fee):
    print(f"The parking fee is: ${fee}")

hours_parked = int(input('Enter hours for Parking:'))
f = calcFee(hours_parked)
displayFee(f)

Enter hours for Parking:123
The parking fee is: $312.5

10/23/24

In [ ]:
def f(x):
  y=1
  x = x+y
  print('x =', x)
  return x

x=3
y=2
z=f(x)
print('z =', z)
print('x =', x)
print('y =', y)

x = 4
z = 4
x = 3
y = 2

In [ ]:
def f(x):
  def g():
    x = 'abc'
    print('x =', x)
  def h():
    z = x
    print('z=', z)

  x = x+1
  print('x =', x)def
  g()
  h()
  print('x=', x)

  return g

  x = 3
  z = f(x)
  print('x =', x)
  print('z =', z)
  z()

In [ ]:
def is_even(i):
  return i % 2 == 0   # input: i, a possible int 'does not return anything'

  return

10/28/2024


recurisve functions
def ref(...):
return fef(...)


Base case:
Inductive case:


In recursive functions, we need two main components:

Base Case: This stops the recursion to prevent infinite loops.
1!

Inductive (or Recursive) Case: This reduces the problem to smaller subproblems and calls the function recursively.
N*(N-1)!
N>1

In [ ]:
# Recursive function example to calculate factorial

def factorial(n):
    # Base case
    if n == 0 or n == 1:
        return 1
    # Inductive case
    else:
        return n * factorial(n - 1)

In [ ]:
def fact(n):
  prod = 1
  for i in range(2, n+1):
    prod = prod * i
  return prod

fact(5)

120

In [ ]:
def factR(n):
  if n > 1:
    return n * factR(n-1)
  else:
    return n

factR(5)

120

inductive: n>=2:
fib(n) = fib(n-1) + fib(n-2)

Base: n == 0 or n == 1 := 0

In [ ]:
def fib(n):
  if n == 0 or n == 1:
    return 1
  else:
    return fib(n-1) + fib(n-2)

fib(6)

13

In [ ]:
               fib(4)
              /      \
         fib(3)      fib(2)
         /    \       /    \
     fib(2)  fib(1) fib(1) fib(0)
     /    \
 fib(1)  fib(0)

in class assigment 10/28/2024

In [ ]:
def print_reverse(s):
    if s == "":
        return
    else:
        print(s[-1], end="")
        print_reverse(s[:-1])
print_reverse("hello")

olleh

In [ ]:
s = 'Hello'
s[-1] + rev[s[:-1]]
'o' + rev('Hell')
'l' + rev('Hel')
'l' + rev('He')
'l' + rev('H')


rev(s[L:]) + s[0]
rev('elleo') + 'H'
rev('ello') + 'e'
rev('llo') + 'l'
rev('lo') + 'l'
rev('o') + 'l'

NameError: name 'rev' is not defined

In [ ]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + rev(s[:-1])
    return s[-1] + rev(s[1:-1] + s[reversed])

rev('helloween')

'neewolleh'

reversed ---> now 0

In [ ]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + rev(s[:-1])
    return s[-1] + rev(s[1:-1] + s[0])

rev('helloween')

10/30/24

In [ ]:
import random

L = [random.randint(0,100000) for i in range(int(1e7))]
L

[23901,
 10264,
 1449,
 83112,
 50411,
 63342,
 16070,
 42356,
 30600,
 44095,
 58485,
 8374,
 13135,
 75002,
 53872,
 65169,
 46264,
 49991,
 67174,
 48169,
 14985,
 71324,
 34033,
 36684,
 74713,
 74374,
 96858,
 58662,
 7977,
 66043,
 99646,
 72184,
 38777,
 52543,
 39949,
 49825,
 68500,
 54734,
 49019,
 16896,
 10639,
 96977,
 88173,
 80832,
 80108,
 75316,
 21150,
 39762,
 6916,
 56212,
 12518,
 33597,
 82067,
 83773,
 84532,
 90100,
 60521,
 36286,
 74550,
 10642,
 29444,
 23280,
 86154,
 97204,
 14173,
 88608,
 44309,
 94374,
 46475,
 57749,
 32246,
 96754,
 58999,
 9575,
 34273,
 25546,
 46243,
 488,
 76087,
 95022,
 70957,
 55579,
 80576,
 49606,
 24627,
 37725,
 56905,
 11787,
 30086,
 25088,
 8489,
 66796,
 7627,
 4491,
 94614,
 83843,
 1001,
 60099,
 2664,
 51658,
 57162,
 98290,
 24503,
 15162,
 67608,
 65854,
 41936,
 72485,
 60180,
 47631,
 6544,
 63037,
 73460,
 17458,
 14555,
 12106,
 39858,
 43537,
 34809,
 88138,
 4568,
 64318,
 55325,
 29905,
 37637,
 69050,
 55602,
 79037,
 54941,
 67152,
 19370,
 70347,
 57457,
 28648,
 18871,
 2935,
 33213,
 59576,
 93038,
 51586,
 30639,
 4672,
 72922,
 45050,
 76507,
 49199,
 48184,
 71594,
 72159,
 87079,
 65337,
 43594,
 49385,
 70674,
 67561,
 15923,
 11099,
 68141,
 87597,
 90658,
 22153,
 95454,
 14338,
 67620,
 52737,
 35077,
 29132,
 25147,
 50103,
 44691,
 18364,
 27886,
 85371,
 30041,
 54754,
 40431,
 39654,
 54440,
 98114,
 38277,
 59401,
 561,
 66615,
 9392,
 32337,
 4373,
 53142,
 1735,
 4506,
 99079,
 60841,
 38727,
 47926,
 48931,
 64501,
 52025,
 70983,
 84791,
 36506,
 88527,
 56390,
 35339,
 11859,
 10455,
 93201,
 21081,
 74278,
 81879,
 67313,
 9301,
 2586,
 72691,
 3568,
 21587,
 67283,
 57530,
 57773,
 85871,
 80697,
 25502,
 21323,
 48697,
 59045,
 98364,
 72478,
 18531,
 43609,
 74498,
 60178,
 8985,
 27579,
 36658,
 64326,
 13459,
 97724,
 32853,
 15460,
 56986,
 58493,
 10090,
 48526,
 58857,
 68733,
 39082,
 98706,
 1564,
 54451,
 71191,
 53299,
 94779,
 41768,
 59853,
 99057,
 77327,
 90278,
 77380,
 93826,
 1884,
 20730,
 50514,
 52549,
 73615,
 91911,
 60867,
 27778,
 33031,
 80488,
 10418,
 11007,
 79232,
 60678,
 51221,
 63013,
 72463,
 72272,
 1858,
 73300,
 94035,
 94976,
 47616,
 15842,
 62907,
 89865,
 21221,
 96091,
 1783,
 28968,
 38665,
 20584,
 75395,
 19696,
 46128,
 66327,
 72000,
 54383,
 91107,
 22233,
 17795,
 3416,
 47008,
 63381,
 83514,
 11956,
 25185,
 30025,
 16272,
 79107,
 21700,
 32681,
 99070,
 54625,
 67042,
 611,
 17381,
 92,
 64017,
 17284,
 54820,
 62210,
 36517,
 94639,
 5691,
 7052,
 8162,
 67929,
 96447,
 17384,
 97774,
 22629,
 45867,
 97078,
 68391,
 56693,
 3488,
 81496,
 59556,
 25590,
 58622,
 29977,
 44459,
 10939,
 44991,
 87412,
 84330,
 52696,
 66098,
 35311,
 73343,
 85516,
 1266,
 76539,
 60745,
 9851,
 61581,
 56059,
 78810,
 6126,
 69317,
 76064,
 70156,
 28630,
 84261,
 13798,
 70009,
 52207,
 3388,
 15491,
 29949,
 64832,
 53744,
 97697,
 36146,
 32005,
 17966,
 39578,
 93621,
 39991,
 24379,
 69986,
 44588,
 94828,
 93181,
 58482,
 59851,
 92865,
 21832,
 89145,
 69020,
 73346,
 79128,
 68660,
 94984,
 16260,
 90338,
 78700,
 96470,
 71152,
 21701,
 55501,
 63472,
 89894,
 44590,
 31129,
 94953,
 22566,
 99452,
 43585,
 93474,
 83289,
 26361,
 26863,
 72048,
 36461,
 62138,
 11765,
 12998,
 3640,
 58090,
 30866,
 49313,
 12534,
 55301,
 81420,
 29692,
 75514,
 625,
 47884,
 24764,
 76925,
 63416,
 34784,
 22079,
 65202,
 70098,
 51368,
 16086,
 25065,
 14979,
 1188,
 92022,
 33829,
 98365,
 10455,
 35585,
 58826,
 3192,
 77583,
 56344,
 60404,
 99093,
 24249,
 3715,
 51755,
 73214,
 29175,
 63931,
 51762,
 7360,
 5403,
 39519,
 94981,
 73458,
 543,
 93719,
 22384,
 84434,
 45757,
 11732,
 61510,
 74557,
 49111,
 68437,
 28631,
 80429,
 25096,
 48095,
 45431,
 61819,
 87794,
 28595,
 6719,
 63109,
 48745,
 22394,
 57295,
 17887,
 88019,
 9936,
 4434,
 48214,
 47875,
 71255,
 95714,
 88333,
 99056,
 63222,
 45673,
 40225,
 52011,
 33148,
 66373,
 90065,
 73415,
 80605,
 98902,
 72809,
 54759,
 15512,
 84998,
 77970,
 15660,
 41040,
 58636,
 70612,
 66401,
 94292,
 96601,
 12979,
 45864,
 90330,
 495,
 80743,
 64445,
 99333,
 25482,
 29243,
 12477,
 32085,
 29445,
 74243,
 77852,
 83446,
 50381,
 16847,
 13254,
 87129,
 12389,
 25256,
 20524,
 68640,
 74275,
 42807,
 57564,
 98104,
 42963,
 7202,
 26048,
 83698,
 25216,
 24098,
 6116,
 10758,
 54699,
 5675,
 70252,
 21740,
 79626,
 87603,
 73013,
 67424,
 57298,
 37514,
 86953,
 84137,
 31539,
 66447,
 18413,
 74059,
 71133,
 17387,
 20921,
 58322,
 80025,
 16902,
 34921,
 12553,
 28529,
 73863,
 96677,
 48487,
 91484,
 15805,
 77282,
 85790,
 55414,
 11661,
 27232,
 6597,
 48799,
 87019,
 76764,
 32974,
 49273,
 66359,
 57590,
 13845,
 86984,
 54704,
 25585,
 41475,
 46353,
 31253,
 21162,
 97510,
 2087,
 34684,
 7036,
 12189,
 54798,
 30776,
 68242,
 38747,
 2492,
 32907,
 97465,
 473,
 26976,
 63413,
 18706,
 81261,
 65364,
 825,
 19128,
 55881,
 61841,
 1091,
 78538,
 99000,
 24765,
 71107,
 46882,
 80459,
 88674,
 50186,
 56251,
 41616,
 47856,
 22785,
 56997,
 33111,
 68322,
 71993,
 5684,
 1477,
 38890,
 79217,
 81999,
 87974,
 15053,
 5633,
 42897,
 69696,
 39691,
 13355,
 72868,
 87630,
 74383,
 70634,
 40610,
 70868,
 73597,
 10375,
 51857,
 47745,
 72230,
 64883,
 90392,
 93781,
 54444,
 76934,
 27317,
 42405,
 85821,
 35918,
 18566,
 9003,
 46915,
 68281,
 83988,
 84857,
 63787,
 65939,
 48287,
 6743,
 23639,
 40477,
 10238,
 24700,
 71945,
 11011,
 39837,
 88286,
 93593,
 66672,
 21120,
 44466,
 90408,
 27315,
 83394,
 15564,
 44967,
 49689,
 62592,
 11699,
 27679,
 89284,
 73931,
 25842,
 54969,
 53681,
 28487,
 16771,
 55113,
 33605,
 26212,
 3038,
 8337,
 52561,
 66261,
 50879,
 74893,
 15481,
 28518,
 39165,
 53212,
 35448,
 19110,
 46744,
 8996,
 42821,
 44319,
 61232,
 48871,
 23204,
 324,
 25527,
 82803,
 7411,
 56278,
 10983,
 32267,
 38106,
 51783,
 69417,
 50272,
 81633,
 90458,
 7117,
 77307,
 33355,
 91743,
 18526,
 12690,
 30141,
 10936,
 64283,
 14508,
 60654,
 63437,
 42034,
 49586,
 40237,
 46316,
 84381,
 70717,
 63618,
 13395,
 91991,
 44459,
 62348,
 40699,
 49481,
 68368,
 41129,
 74147,
 60017,
 62375,
 17302,
 72602,
 91286,
 41713,
 98973,
 61945,
 53965,
 79266,
 51571,
 25038,
 7333,
 45571,
 92506,
 53512,
 85686,
 14200,
 93141,
 78040,
 23726,
 32608,
 39168,
 5523,
 1301,
 95607,
 98782,
 91638,
 19301,
 61174,
 13354,
 36708,
 62612,
 86832,
 30268,
 6544,
 50380,
 95626,
 48589,
 24370,
 15915,
 31337,
 88362,
 90421,
 62043,
 66252,
 43391,
 90626,
 64022,
 48983,
 83437,
 4066,
 11947,
 179,
 31723,
 50280,
 5150,
 61244,
 34043,
 43893,
 60294,
 98900,
 24764,
 5500,
 82975,
 89170,
 15651,
 13681,
 53086,
 88233,
 18922,
 46607,
 22423,
 92662,
 19537,
 928,
 19848,
 69595,
 44832,
 54263,
 82816,
 49554,
 23602,
 80085,
 78681,
 35199,
 12908,
 40723,
 36946,
 12520,
 21861,
 71602,
 27180,
 26905,
 37967,
 29436,
 19008,
 49780,
 88401,
 47146,
 18477,
 21627,
 67532,
 82719,
 70242,
 87287,
 64908,
 42073,
 34074,
 84194,
 53266,
 86395,
 67234,
 58981,
 55440,
 12876,
 26758,
 70099,
 43788,
 70844,
 31454,
 27616,
 80800,
 61561,
 46559,
 83381,
 86110,
 67983,
 33710,
 78356,
 43183,
 61148,
 92701,
 30143,
 37103,
 57830,
 87200,
 36454,
 5002,
 44204,
 84291,
 78383,
 11159,
 45832,
 2486,
 56392,
 20814,
 74482,
 88375,
 81800,
 20963,
 91283,
 23711,
 7561,
 27639,
 32146,
 88780,
 46108,
 71317,
 58525,
 68995,
 23733,
 19171,
 72614,
 74366,
 91530,
 27278,
 91223,
 67874,
 46957,
 44534,
 33204,
 10267,
 7787,
 41257,
 49241,
 38592,
 3228,
 72514,
 73961,
 94634,
 65035,
 2505,
 4423,
 69840,
 6263,
 19413,
 7548,
 19120,
 25813,
 57076,
 35362,
 95204,
 21211,
 92199,
 15162,
 20036,
 74951,
 55206,
 48279,
 31330,
 70464,
 15657,
 82396,
 43880,
 55706,
 57208,
 47398,
 29516,
 25920,
 68380,
 98526,
 85571,
 30311,
 7649,
 37704,
 62319,
 98833,
 3755,
 47811,
 11429,
 14321,
 37550,
 15756,
 45974,
 ...]

In [ ]:
%timeit sorted(L)

6.09 s  767 ms per loop (mean  std. dev. of 7 runs, 1 loop each)

In [ ]:
def  bubble_sort(array):
    n = len(array)
    for i in range(n):
        already_sorted = True
        for j in range(n-i-1):
            if array[j] > array[j+1]:
                array[j], array[j+1] = array[j+1], array[j]
                already_sorted = False
            print(array)
        if already_sorted:
            break
        print()
    return array
bubble_sort(['f','a','d','b','g'])

['a', 'f', 'd', 'b', 'g']
['a', 'd', 'f', 'b', 'g']
['a', 'd', 'b', 'f', 'g']
['a', 'd', 'b', 'f', 'g']

['a', 'd', 'b', 'f', 'g']
['a', 'b', 'd', 'f', 'g']
['a', 'b', 'd', 'f', 'g']

['a', 'b', 'd', 'f', 'g']
['a', 'b', 'd', 'f', 'g']

['a', 'b', 'd', 'f', 'g']

In [ ]:
def bubble_sort(array):
    n = len(array)
    for i in range(n):
        already_sorted = True
        for j in range(n-i-1):
            if array[j] > array[j+1]:
                array[j], array[j+1] = array[j+1], array[j]
                already_sorted = False
        if already_sorted:
            break
    return array
import random
L = [random.randint(0, 10000) for _ in range(int(1e5))]
%timeit bubble_sort(L)

19.1 ms  6.27 ms per loop (mean  std. dev. of 7 runs, 1 loop each)

In [ ]:
def quickSort(L):
  if len(L) < 2:
    return L
  else:
    pivot = L[0]

else: pivot = ...

  less = []
  equal = []
  larger = []

  for el in L:
    if el < pivot:
      less.append(el)
    elif el == pivot:
      equal.append(el)
    else:
      larger.append(el)

  return quickSort(less) +equal + quickSort(larger)

quicksort([8,2,6,9,1,9])

In [ ]:
def quicksort(array):
  if len(array) < 2:
    return array

  else:
    low, same, high = [], [], []
    pivot = array[0]

  for el in L:
    if el < pivot:
      low.append(el)
    elif el == pivot:
      same.append(el)
    else:
      high.append(el)

  return quicksort(low) + same + quicksort(high)

  quicksort([8,2,6,9,1,9])

11/4/2024

In [ ]:
def adder(x, y):
  return x + y

adder(2,"6")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
L = [1,2,3,4]

L[len(L)]

IndexError: list index out of range

In [ ]:
def diva(a,b):
  return a/b

div(2,0)

SyntaxError: invalid syntax (<ipython-input-4-1c344165169c>, line 2)

In [ ]:
def div(a,b):
  try:
    return a/b
  except ZeroDivisionError:
    print('Division by Zero!')
  except TypeError:
    print('Incompatible object types...')
  except:
    print('Error')
    return float('nan')


s = div('5',2)
print(s)
inp = input('Enter value:')
print(inp)

Incompatible object types...
None
Enter value:19
19

In [ ]:
def div(a,b):
  try:
    c = a + breakprint(c)
    d= c / b
    print(d)

  except ZeroDivisionError:
    print('Division by Zero!')
  except TypeError:
    print('Incompatible object types...')
  except:
    print('Error')
    return float('nan')
  else:
    print('All GUcci')
  finally:
    print('Tghis will always be displayed')


s = div('5',2)
print(s)
inp = input('Enter value:')
print(inp)

Error
nan
Enter value:12
12

11/6/2024

function that calculates theweighted avgerage of a list , given weigths w the function should hangle the folowing exception error types
- zerodivisionerror (returns empty lsit)

-type error (returns empty list)

- any other unknown error (returns float('nan'))

In [27]:
def wAvg(L, w):
    try:
        a = [x * y for x, y in zip(L, w)]
    except ZeroDivisionError:
        print('Division by Zero!')
        return []
    except TypeError:
        print('Incompatible object types...')
        return []
    except:
        print('Error')
        return float('nan')

    return a


L = [1, 2, 3]
w = [0.1, 0.3, 0.5]
s = wAvg(L, w)
print(s)

[0.1, 0.6, 1.5]

In [38]:
def wAvg(L, w):
  res = []
  try:
    for i in range(len(L)):
      res.append(L[i] * w[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
      print('Division by Zero.')
      return []
  except TypeError:
      print('Non-numerical objects found.')
      return []
  except Exception as e:
      print(f'Unknown Error: {e}')
      return float('nan')

wAvg([1,'2',3], [0.1, 0.3, 0.5])

Non-numerical objects found.

[]