<a href="https://colab.research.google.com/github/Gr1lledChee5e/BTE320FALL/blob/main/BTE320_InClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Surface Area of a Cylinder
pi = 3.14
h = 10 #height
r = 3 #radius
area = 2*pi*r**2 + 2*pi*r*h
print(area)

244.92000000000002

In [ ]:
for i in range (0,11,2):
  print(i, end=' ')

0 2 4 6 8 10

In [ ]:
i = 0
while i < 11:
  print(i, end=' ')
  i = i + 2

0 2 4 6 8 10

Basic Function Calculator

In [ ]:
while True

def calculator():
    print("Welcome to the calculator!")
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")

    choice = input("Enter choic2e (1/2/3/4): ")

    if choice in ['1', '2', '3', '4']:
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(f"{num1} + {num2} = {num1 + num2}")
        elif choice == '2':
            print(f"{num1} - {num2} = {num1 - num2}")
        elif choice == '3':
            print(f"{num1} * {num2} = {num1 * num2}")
        elif choice == '4':
            if num2 != 0:
                print(f"{num1} / {num2} = {num1 / num2}")
            else:
                print("Error! Division by zero.")
    else:
        print("Invalid Input")

calculator()

Welcome to the calculator!
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 1
Enter first number: 2
Enter second number: 2
2.0 + 2.0 = 4.0

In [ ]:
n1 = float(input('enter number:'))
n2 = float(input('enter number:'))
symbol = input('Choose operator (+, -, *, /, **):')

if symbol == '+':
    print(n1 + n2)
elif symbol == '-':
    print(n1 - n2)
elif symbol == '/':
    print(n1 / n2)
elif symbol == '*':
    print(n1 * n2)
else:
    print(n1 ** n2)

enter number:2
enter number:3
Choose operator (+, -, *, /, **):**
8.0

In [ ]:
!pip install ColabTurtlePlus

Requirement already satisfied: ColabTurtlePlus in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [ ]:
from ColabTurtlePlus import *

screen = screen()

screen.clearscreen()

reset = True

if reset:
  Clear()

color('black', 'green')
shape('blank')
begin_fill()
jumpto(0,0)

forward(100)
left(90)
forward(100)
left(90)
forward(100)
left(90)
forward(100)
left(90)

penup()
end_fill()

NameError: name 'screen' is not defined

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

reset = True

if reset:
  clear()

color('black', 'green')
shape('blank')
begin_fill()
jumpto(0,0)


for i in range(4):
  forward(100)
  left(90)


penup()
end_fill()

Range (start, stop, step) for varname in sequence

Start
Start + step
Start + 2*step
start + N*step < Stop

[Start, stop)

Start --> 0
step --> 1
range[ 0,1,2,3] for range(4)

such that, i = 0, i =1, i=2, i=3

In [ ]:
for i in range (0,11, 2):
  print(i, end=' ')

0 2 4 6 8 10

In [ ]:
for i in range (40,5, -10):
  print(i, end=' ')

40 30 20 10

In [ ]:
import random

while True:
    user_action = input("Enter a choice (rock, paper, scissors): ")
    possible_actions = ["rock", "paper", "scissors"]
    computer_action = random.choice(possible_actions)
    print(f"\nYou chose {user_action}, computer chose {computer_action}.\n")

    if user_action == computer_action:
        print(f"Both players selected {user_action}. It's a tie!")
    elif user_action == "rock":
        if computer_action == "scissors":
            print("Rock destorys scissors! You win!")
        else:
            print("Paper covered rock! You lose.")
    elif user_action == "paper":
        if computer_action == "rock":
            print("Paper covered rock! You win!")
        else:
            print("Scissors cuts ze paper! You lose.")
    elif user_action == "scissors":
        if computer_action == "paper":
            print("Scissors cuts ze paper! You win!")
        else:
            print("Rock drops on ze scissors! You lose.")

    play_again = input("Play again? (y/n): ")
    if play_again.lower() != "y":
        break

Enter a choice (rock, paper, scissors): paper

You chose paper, computer chose paper.

Both players selected paper. It's a tie!
Play again? (y/n): y
Enter a choice (rock, paper, scissors): rock

You chose rock, computer chose scissors.

Rock smashes scissors! You win!
Play again? (y/n): y
Enter a choice (rock, paper, scissors): rock

You chose rock, computer chose rock.

Both players selected rock. It's a tie!
Play again? (y/n): y
Enter a choice (rock, paper, scissors): rock

You chose rock, computer chose paper.

Paper covers rock! You lose.
Play again? (y/n): n

Parking Garage

In [55]:
def calculate_parking_fee(hours):
  Flat_Rate = 5.00
  hourly_rate = 2.50
  minimum_fee = 10.00
  maximum_fee = 20.00

  total_fee = Flat_Rate + hours * hourly_rate

    if total_fee < minimum_fee:
        total_fee = minimum_fee
    elif total_fee > maximum_fee:
        total_fee = maximum_fee


    return total_fee

hours = 1
while hours <= 8:
    print(f"Parking for {hours} hours: ${calculate_parking_fee(hours):.2f}")
    hours += 1

IndentationError: unexpected indent (<ipython-input-55-26edc61c568c>, line 9)

In [20]:
flate_rate = 5
hourly_rate = 2.5

for hour in range (1, 9 ,1):
  charge = flate_rate + hour * hourly_rate
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(hour, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

MOVIE THEATER

In [45]:
def calculate_profit(theater):
    ticket_price = 10
    base_attendance = 20
    fixed_costs = 200
    additional_attendees = 2 * round(ad_spending)

    total_attendees = base_attendance + additional_attendees

    revenue = total_attendees * ticket_price

    total_costs = fixed_costs + ad_spending

    profit = revenue - total_costs

    return additional_attendees, total_attendees, revenue, total_costs, profit

print(f"{'Ads Spent':>10} | {'Additional Attendees':>20} | {'Total Attendees':>15} | {'Revenue':>10} | {'Total Costs':>12} | {'Profit':>10}")
print("-" * 80)

for ad_spending in range(0, 101, 10):
    additional_attendees, total_attendees, revenue, total_costs, profit = calculate_profit(ad_spending)
    print(f"{ad_spending:>10} | {additional_attendees:>20} | {total_attendees:>15} | {revenue:>10} | {total_costs:>12} | {profit:>10}")

 Ads Spent | Additional Attendees | Total Attendees |    Revenue |  Total Costs |     Profit
--------------------------------------------------------------------------------
         0 |                    0 |              20 |        200 |          200 |          0
        10 |                   20 |              40 |        400 |          210 |        190
        20 |                   40 |              60 |        600 |          220 |        380
        30 |                   60 |              80 |        800 |          230 |        570
        40 |                   80 |             100 |       1000 |          240 |        760
        50 |                  100 |             120 |       1200 |          250 |        950
        60 |                  120 |             140 |       1400 |          260 |       1140
        70 |                  140 |             160 |       1600 |          270 |       1330
        80 |                  160 |             180 |       1800 |          280 |       1520
        90 |                  180 |             200 |       2000 |          290 |       1710
       100 |                  200 |             220 |       2200 |          300 |       1900

In [58]:
for ad in range (0, 201, 25):
  additional = (2 * ad ** 0.5)
  profit = (20 + (additional)) * 10 - 200 - ad
  print(ad, profit)

0 0.0
25 75.0
50 91.42135623730951
75 98.20508075688781
100 100.0
125 98.60679774997897
150 94.94897427831779
175 89.57513110645903
200 82.84271247461902