<a href="https://colab.research.google.com/github/Gr1lledChee5e/BTE320FALL/blob/main/BTE320_InClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Surface Area of a Cylinder
pi = 3.14
h = 10 #height
r = 3 #radius
area = 2*pi*r**2 + 2*pi*r*h
print(area)

244.92000000000002

In [ ]:
for i in range (0,11,2):
  print(i, end=' ')

0 2 4 6 8 10

In [ ]:
i = 0
while i < 11:
  print(i, end=' ')
  i = i + 2

0 2 4 6 8 10

Basic Function Calculator

In [ ]:
while True

def calculator():
    print("Welcome to the calculator!")
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")

    choice = input("Enter choic2e (1/2/3/4): ")

    if choice in ['1', '2', '3', '4']:
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(f"{num1} + {num2} = {num1 + num2}")
        elif choice == '2':
            print(f"{num1} - {num2} = {num1 - num2}")
        elif choice == '3':
            print(f"{num1} * {num2} = {num1 * num2}")
        elif choice == '4':
            if num2 != 0:
                print(f"{num1} / {num2} = {num1 / num2}")
            else:
                print("Error! Division by zero.")
    else:
        print("Invalid Input")

calculator()

Welcome to the calculator!
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 1
Enter first number: 2
Enter second number: 2
2.0 + 2.0 = 4.0

In [ ]:
n1 = float(input('enter number:'))
n2 = float(input('enter number:'))
symbol = input('Choose operator (+, -, *, /, **):')

if symbol == '+':
    print(n1 + n2)
elif symbol == '-':
    print(n1 - n2)
elif symbol == '/':
    print(n1 / n2)
elif symbol == '*':
    print(n1 * n2)
else:
    print(n1 ** n2)

enter number:2
enter number:3
Choose operator (+, -, *, /, **):**
8.0

In [ ]:
!pip install ColabTurtlePlus

Requirement already satisfied: ColabTurtlePlus in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [ ]:
from ColabTurtlePlus import *

screen = screen()

screen.clearscreen()

reset = True

if reset:
  Clear()

color('black', 'green')
shape('blank')
begin_fill()
jumpto(0,0)

forward(100)
left(90)
forward(100)
left(90)
forward(100)
left(90)
forward(100)
left(90)

penup()
end_fill()

NameError: name 'screen' is not defined

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

reset = True

if reset:
  clear()

color('black', 'green')
shape('blank')
begin_fill()
jumpto(0,0)


for i in range(4):
  forward(100)
  left(90)


penup()
end_fill()

Range (start, stop, step) for varname in sequence

Start
Start + step
Start + 2*step
start + N*step < Stop

[Start, stop)

Start --> 0
step --> 1
range[ 0,1,2,3] for range(4)

such that, i = 0, i =1, i=2, i=3

In [ ]:
for i in range (0,11, 2):
  print(i, end=' ')

0 2 4 6 8 10

In [ ]:
for i in range (40,5, -10):
  print(i, end=' ')

40 30 20 10

In [ ]:
import random

while True:
    user_action = input("Enter a choice (rock, paper, scissors): ")
    possible_actions = ["rock", "paper", "scissors"]
    computer_action = random.choice(possible_actions)
    print(f"\nYou chose {user_action}, computer chose {computer_action}.\n")

    if user_action == computer_action:
        print(f"Both players selected {user_action}. It's a tie!")
    elif user_action == "rock":
        if computer_action == "scissors":
            print("Rock destorys scissors! You win!")
        else:
            print("Paper covered rock! You lose.")
    elif user_action == "paper":
        if computer_action == "rock":
            print("Paper covered rock! You win!")
        else:
            print("Scissors cuts ze paper! You lose.")
    elif user_action == "scissors":
        if computer_action == "paper":
            print("Scissors cuts ze paper! You win!")
        else:
            print("Rock drops on ze scissors! You lose.")

    play_again = input("Play again? (y/n): ")
    if play_again.lower() != "y":
        break

Enter a choice (rock, paper, scissors): paper

You chose paper, computer chose paper.

Both players selected paper. It's a tie!
Play again? (y/n): y
Enter a choice (rock, paper, scissors): rock

You chose rock, computer chose scissors.

Rock smashes scissors! You win!
Play again? (y/n): y
Enter a choice (rock, paper, scissors): rock

You chose rock, computer chose rock.

Both players selected rock. It's a tie!
Play again? (y/n): y
Enter a choice (rock, paper, scissors): rock

You chose rock, computer chose paper.

Paper covers rock! You lose.
Play again? (y/n): n

Parking Garage

In [ ]:
def calculate_parking_fee(hours):
  Flat_Rate = 5.00
  hourly_rate = 2.50
  minimum_fee = 10.00
  maximum_fee = 20.00

  total_fee = Flat_Rate + hours * hourly_rate

    if total_fee < minimum_fee:
        total_fee = minimum_fee
    elif total_fee > maximum_fee:
        total_fee = maximum_fee


    return total_fee

hours = 1
while hours <= 8:
    print(f"Parking for {hours} hours: ${calculate_parking_fee(hours):.2f}")
    hours += 1

IndentationError: unexpected indent (<ipython-input-11-bc56f81f3d46>, line 9)

In [ ]:
flate_rate = 5
hourly_rate = 2.5

for hour in range (1, 9 ,1):
  charge = flate_rate + hour * hourly_rate
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(hour, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

MOVIE THEATER

In [ ]:
def calculate_profit(theater):
    ticket_price = 10
    base_attendance = 20
    fixed_costs = 200
    additional_attendees = 2 * round(ad_spending)

    total_attendees = base_attendance + additional_attendees

    revenue = total_attendees * ticket_price

    total_costs = fixed_costs + ad_spending

    profit = revenue - total_costs

    return additional_attendees, total_attendees, revenue, total_costs, profit

print(f"{'Ads Spent':>10} | {'Additional Attendees':>20} | {'Total Attendees':>15} | {'Revenue':>10} | {'Total Costs':>12} | {'Profit':>10}")
print("-" * 80)

for ad_spending in range(0, 101, 10):
    additional_attendees, total_attendees, revenue, total_costs, profit = calculate_profit(ad_spending)
    print(f"{ad_spending:>10} | {additional_attendees:>20} | {total_attendees:>15} | {revenue:>10} | {total_costs:>12} | {profit:>10}")

 Ads Spent | Additional Attendees | Total Attendees |    Revenue |  Total Costs |     Profit
--------------------------------------------------------------------------------
         0 |                    0 |              20 |        200 |          200 |          0
        10 |                   20 |              40 |        400 |          210 |        190
        20 |                   40 |              60 |        600 |          220 |        380
        30 |                   60 |              80 |        800 |          230 |        570
        40 |                   80 |             100 |       1000 |          240 |        760
        50 |                  100 |             120 |       1200 |          250 |        950
        60 |                  120 |             140 |       1400 |          260 |       1140
        70 |                  140 |             160 |       1600 |          270 |       1330
        80 |                  160 |             180 |       1800 |          280 |       1520
        90 |                  180 |             200 |       2000 |          290 |       1710
       100 |                  200 |             220 |       2200 |          300 |       1900

In [ ]:
for ad in range (0, 201, 25):
  additional = (2 * ad ** 0.5)
  profit = (20 + (additional)) * 10 - 200 - ad
  print(ad, profit)

0 0.0
25 75.0
50 91.42135623730951
75 98.20508075688781
100 100.0
125 98.60679774997897
150 94.94897427831779
175 89.57513110645903
200 82.84271247461902

In [ ]:
for i in range( 1_000_000_000):
  if i == 10:
    break
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

9/23/24

In [ ]:
len('hello')
# get length/ character count

5

In [ ]:
s= {'a', 'bb', 'ccc'}
len(s)

3

In [ ]:
s= ('this is a string')
len(s)

16

In [ ]:
t = "1234567"
t[0]
#place of charater; ranges from 0 to infitity

'1'

In [ ]:
s[0:4], s[10:16]

('this', 'string')

In [ ]:
t[1:-1]

'23456'

In [ ]:
for idx in range(len(t)):
  print(idx, t[idx])

0 1
1 2
2 3
3 4
4 5
5 6
6 7

In [ ]:
for char in s:
  print(char)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [ ]:
for idx in range(lens(s)):
  if s[idx] == 'a':
    print("letter 'a' found")
    break

NameError: name 'lens' is not defined

9/25/2024

In [ ]:
l = [1,2,3]

another_1 = [1, 3.14, 'abc', True, {456}]
empty_1 = []
len(l), len(another_1), len(empty_1)

(3, 5, 0)

In [ ]:
l[1] = 5
print(l)

[1, 5, 3]

In [ ]:
[1,2,3] + [4]

[1, 2, 3, 4]

In [ ]:
l = [1,2,3]
l.append(4)
l.insert(1,5)
l

[1, 5, 2, 3, 4]

In [ ]:
l2 = [5,6,7]
l.extend([12])
l

[1, 5, 2, 3, 12]

In [ ]:
l.append(l2)
l

[1, 5, 2, 3, 4, 12, [5, 6, 7]]

In [ ]:
l.pop(-1)
l

[1, 5, 2, 3]

In [ ]:
l = ['a','b','c']
l2 = [4,5,6]

l.extend(l2)
l

['a', 'b', 'c', 4, 5, 6]

In [ ]:
l = [1,7,3,0,4,6]
l.sort(reverse=True)
l

In [ ]:
L = []

item = int(input('Give a value:'))
while item != 0:
  L.append(item)
  print(L)
  item = int(input('Give a value:'))
print(L)

Give a value:2
[2]
Give a value:2
[2, 2]
Give a value:2
[2, 2, 2]

KeyboardInterrupt: Interrupted by user

In [ ]:
item = int(input('Give a value:'))
while item != 0:
  L.append(item)
  item = int(input('Give a value:'))
print(L)

Give a value:2
Give a value:2
Give a value:2
Give a value:2
Give a value:2
Give a value:2
Give a value:2
Give a value:0
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [ ]:
L1 = [1,2,3,4]
L2 = [1,2,5,6]

i = 0
j = 1

for i in L1: # if item is in list do some bout it
  if i in L2:
    L1.remove(i)
    L2.remove(i)

for j in L1:
  if j in L2:
    L1.remove(j)
    L2.remove(j)

print(L1)
print(L2)

[3, 4]
[5, 6]

In [ ]:
L1 = [1,2,3,4]
L2 = [1,2,5,6]

for i in L1[:]: # if item is in list do some bout it
  if i in L2:
    L1.remove(i)
    L2.remove(i)

print(L1)
print(L2)

[3, 4]
[5, 6]

In [ ]:
t = (1, 'two', 3.0, [4,5,6], (1,2))

In [ ]:
(1,2,3) + ('one', 'two', 'three')

(1, 2, 3, 'one', 'two', 'three')

In [ ]:
t[1:4]

('two', 3.0, [4, 5, 6])

In [ ]:
grades = {'John': 90, 'Jane': 95, 'Bob': 87, 'Anne': 89}

In [ ]:
grades['John'] = 92
grades

{'John': 92, 'Jane': 95, 'Bob': 87, 'Anne': 89}

In [ ]:
grades ['Bryan'] = 85
grades

{'John': 92, 'Jane': 95, 'Bob': 87, 'Anne': 89, 'Bryan': 85}

In [ ]:
del(grades['Bryan'])
grades

{'John': 92, 'Jane': 95, 'Bob': 87, 'Anne': 89}

In [ ]:
s = ''
l[]
t()
d{}

In [ ]:
d = {
    'example1@yahoo.com': {
      'first_name': 'John',
      'last_name': 'Doe',
      'phone': '555-555-5555',
      'email': 'example@yahoo.com'
},
    'example@yahoo.com': {
      'first_name': 'John',
      'last_name': 'Doe',
      'phone': '555-555-5555',
      'email': 'example@yahoo.com'
    }
}

In [ ]:
months = {}

names = ["Jan", "Feb", 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

In [ ]:
for i in range(len(names)):
  months[names[i]] = numbers[i]

months

{'Jan': 1,
 'Feb': 2,
 'Mar': 3,
 'Apr': 4,
 'May': 5,
 'Jun': 6,
 'Jul': 7,
 'Aug': 8,
 'Sep': 9,
 'Oct': 10,
 'Nov': 11,
 'Dec': 12}

In [ ]:
for i in range(len(names)):
  months[i+1] = names[i]

months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

10/2/2024

In [ ]:
for value in months.values():
  print(value)

NameError: name 'months' is not defined

In [ ]:
months = {} # Initialize the months dictionary

names = ["Jan", "Feb", 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(names)):
  months[i+1] = names[i] # Populate the months dictionary

for value in months.values(): # Iterate through the dictionary values and print them
  print(value)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [ ]:
for key, value in months.items():
  print(key, value)

1 Jan
2 Feb
3 Mar
4 Apr
5 May
6 Jun
7 Jul
8 Aug
9 Sep
10 Oct
11 Nov
12 Dec

In [ ]:
d = {
    'example1@yahoo.com': {
      'first_name': 'John',
      'last_name': 'Doe',
      'phone': '555-555-5555',
},
    'example@yahoo.com': {
      'first_name': 'John',
      'last_name': 'Doe',
      'phone': '555-555-5555',
    }
}

In [ ]:
for key in d.keys():
  print(key, d[key]['phone'])

example1@yahoo.com 555-555-5555
example@yahoo.com 555-555-5555

10/21/24

In [ ]:
def inputs ():
  annual_salary = float(input("Enter your annual salary: "))
  portion_saved = float(input("Enter portion: "))
  total_cost = float(input("Enter the cost: "))

  return annual_salary, portion_saved, total_cost

In [ ]:
annual_salary, portion_saved, total_cost = inputs()

months = 0
amount = 0

Enter your annual salary: 133
Enter the percent of your salary to save, as a decimal: 46
Enter the cost of your dream home: 10000000

In [ ]:
def name(first, last, reverse=False):
  if reverse == True:
    print(last,',' ,first)
  else:
    print(first, last)

name('John', 'Doe', True)

Doe , John

In [ ]:
flate_rate = 5
hourly_rate = 2.5

for hour in range (1, 9 ,1):
  charge = flate_rate + hour * hourly_rate
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(hour, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
def calcFee(hours):
    flat_rate = 5
    hourly_rate = 2.5
    max_fee = 50

    hours = int(hours) if hours == int(hours) else int(hours) + 1

    if hours <= 1:
        total_fee = flat_rate
    else:
        total_fee = flat_rate + (hours - 1) * hourly_rate

    if total_fee > max_fee:
        total_fee = max_fee

    return total_fee

hours_parked = input()
print(f"Parking fee for {hours_parked} hours: ${calcFee(hours_parked)}")

44
Parking fee for 44 hours: $50

In [ ]:
def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

hours_parked = int(input('Enter hours for Parking:'))
f = calcFee(hours_parked)
print(f)

Enter hours for Parking:2
10.0

In [ ]:
def calcFee(hours, decimals = 2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)

  return fee

def displayFee(fee):
    print(f"The parking fee is: ${fee}")

hours_parked = int(input('Enter hours for Parking:'))
f = calcFee(hours_parked)
displayFee(f)

The parking fee is: $15.0
The parking fee is: $15.0

10/23/24

In [ ]:
def f(x):
  y=1
  x = x+y
  print('x =', x)
  return x

x=3
y=2
z=f(x)
print('z =', z)
print('x =', x)
print('y =', y)

x = 4
z = 4
x = 3
y = 2

In [ ]:
def f(x):
  def g():
    x = 'abc'
    print('x =', x)
  def h():
    z = x
    print('z=', z)

  x = x+1
  print('x =', x)def
  g()
  h()
  print('x=', x)

  return g

  x = 3
  z = f(x)
  print('x =', x)
  print('z =', z)
  z()

In [ ]:
def is_even(i):
  return i % 2 == 0   # input: i, a possible int 'does not return anything'

  return

10/28/2024


recurisve functions
def ref(...):
return fef(...)


Base case:
Inductive case:


In recursive functions, we need two main components:

Base Case: This stops the recursion to prevent infinite loops.
1!

Inductive (or Recursive) Case: This reduces the problem to smaller subproblems and calls the function recursively.
N*(N-1)!
N>1

In [ ]:
# Recursive function example to calculate factorial

def factorial(n):
    # Base case
    if n == 0 or n == 1:
        return 1
    # Inductive case
    else:
        return n * factorial(n - 1)

In [ ]:
def fact(n):
  prod = 1
  for i in range(2, n+1):
    prod = prod * i
  return prod

fact(5)

120

In [ ]:
def factR(n):
  if n > 1:
    return n * factR(n-1)
  else:
    return n

factR(5)

120

inductive: n>=2:
fib(n) = fib(n-1) + fib(n-2)

Base: n == 0 or n == 1 := 0

In [ ]:
def fib(n):
  if n == 0 or n == 1:
    return 1
  else:
    return fib(n-1) + fib(n-2)

fib(6)

13

In [ ]:
               fib(4)
              /      \
         fib(3)      fib(2)
         /    \       /    \
     fib(2)  fib(1) fib(1) fib(0)
     /    \
 fib(1)  fib(0)

in class assigment 10/28/2024

In [60]:
def print_reverse(s):
    if s == "":
        return
    else:
        print(s[-1], end="")
        print_reverse(s[:-1])
print_reverse("hello")

olleh

In [64]:
s = 'Hello'
s[-1] + rev[s[:-1]]
'o' + rev('Hell')
'l' + rev('Hel')
'l' + rev('He')
'l' + rev('H')


rev(s[L:]) + s[0]
rev('elleo') + 'H'
rev('ello') + 'e'
rev('llo') + 'l'
rev('lo') + 'l'
rev('o') + 'l'

NameError: name 'rev' is not defined

In [71]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + rev(s[:-1])
    return s[-1] + rev(s[1:-1] + s[reversed])

rev('helloween')

'neewolleh'

reversed ---> now 0

In [ ]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + rev(s[:-1])
    return s[-1] + rev(s[1:-1] + s[0])

rev('helloween')